div.MatchingPanel {
    background-color: ghostwhite;
    padding: 1em;
    border-radius: 1em;
    color: black;
}
div.MatchingPanel img{
    width: 25%;
    border: 2px solid darkgrey;
    border-radius: 0.5em;
}

.MatchingPanel button{
    margin-right: 1em;
    width: 25%;
}
.MatchingPanel h5{
    padding-top: 1em;
}

h.compat-percent{
    text-align: right;
    font-size: 2em;
}