nav.navbar{
    padding-left: 4em;
    background-color: #292929;
}
.navbar-brand{
    font-size: 1.5em;
    background-image: url(./img/pixel_hearts50p.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    font-family: Ubuntu;
    font-weight: bold;
    padding-right: 0.6em;
}

#navbar-nav{
    padding-left: 0;
}