#frontpageDiv h1.title {
    align-content: center;
    text-align: center;
    padding: 1.3em;
    font-size: 6em;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bolder;
    text-shadow: 0 0 20px palevioletred;
    background-image: url(./../img/pixel_hearts50p.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    margin: 0 1em 0 1em;
}

#frontpageDiv h4.frontpageHeaders{
    padding: 1em 0 0.3em 0;
    align-content: center;
    text-align: center;
}

#frontpageDiv #frontpageContainer{
    padding-left: 4em;
    padding-right: 4em;
    position: relative;
    bottom:0;
}

#frontpageDiv #frontpageContainer p{
    padding: 0.2em 1em 2em 1em;
}

#frontpageDiv #title{
    background-color: #080808;
}
#frontpageDiv a:link{
    color: #afafaf;
}
#frontpageDiv a:visited{
    color: #afafaf;
}
#frontpageDiv a:hover{
    color: #919191;
    text-decoration: none;
}
#frontpageDiv a:active{
    color: #919191;
}