#LoginHeader{
    font-size: 0.8em;
}
#LoginHeader input{
    padding: 0.4em 0.7em 0.4em 0.7em;
    margin-left: 0.3em;
    margin-right: 20em;
}
#LoginHeader p{
    padding-top: 0.2em;
    margin:0;
}

#LoginHeader .centerThis {
	position: absolute;
	width: 100%;
	margin: auto;
	left: 0%;
}

/* Full-width input fields */
#LoginHeader input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 9px;
}

#LoginHeader input[type=text]:hover, #LoginHeader input[type=password]:hover {
	border: 1px solid #88D;
	outline: 0;
	background-color: #FEFEFE;
}

#LoginHeader input[type=text]:focus, input[type=password]:focus {
	border: 1px solid #48c;
	outline: 0;
	background-color: #FAFAFA;
}

/* Set a style for all buttons */
#LoginHeader button[class=signup] {
  background-color: #36D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
}

#LoginHeader button[class=signup] {
	border-radius: 5px;
}

#LoginHeader button[class=signup]:hover {
	background-color: #47E;
}

/* Extra styles for the cancel button */
#LoginHeader .cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
#LoginHeader .imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

#LoginHeader img.avatar {
  width: 40%;
  border-radius: 50%;
}

#LoginHeader .container {
  padding: 16px;
}

#LoginHeader span.psw {
  float: right;
  padding-top: 16px;
}

#LoginHeader .black-text {
	color: black;
}

/* The Modal (background) */
#LoginHeader .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
#LoginHeader .modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  max-width: 500px;
}

/* The Close Button (x) */
#LoginHeader .close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

#LoginHeader .close:hover,
#LoginHeader .close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
#LoginHeader .animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  #LoginHeader span.psw {
     display: block;
     float: none;
  }
  #LoginHeader .cancelbtn {
     width: 100%;
  }
}

#modalButton {
	#position: absolute;
	text-align: center;
	font-size: calc(12px + 1vh);
	border-radius: 5px;
	background-color: #4D6;
}

#modalButton:hover {
	background-color: #50D980;
}

#LoginHeader .inputError {
	color: red;
	margin: 0px;
	width: 100%;
	display: none;
	#text-align: center;
}

#LoginHeader button.btn-link{
  font-size: 1em;
  padding: 0;
  margin: -0.5em 0 0 0;
  color: white;
}

#LoginHeader button.btn-link:hover{
  text-decoration: none;
  color: #919191;
}

#LoginHeader .loginError{
  text-decoration: none;
  color: red;
  padding-left: 1em;
}
