#matchingPage div.panels-container{
    padding: 1em 4em 1em 4em;
}
#matchingPage div.panel{
    padding: 1em;
}
#matchingPage button#fetchMoreMatches{
    margin-top : 2em;
    margin-left: 6em;
}