div.MatchesPanel {
    background-color: ghostwhite;
    padding: 1em;
    border-radius: 1em;
    color: black;
}
div.MatchesPanel button{
    margin-right: 1em;
    width: 25%;
}
div.MatchesPanel button.skip{
    width: 15%;
}

div.MatchesPanel .online{
    font-size: 1.2em;
    color: green;
}