.notification {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  right: 0px;
  bottom: 30px;
  font-size: 17px;
  
  padding: 5px;
	border-radius: 3px;
	margin: 5px;
	background-color: #D31;
	color: white;
	text-align: center;
}

.notification-header {
	font-size: 2vh;
}

.notification-body {
	font-size: 1.4vh;

}

.show {
  visibility: visible;
  #-webkit-animation: fadein 0.5s, fadeout 0.5s 4s;
  animation: fadein 0.5s, fadeout .5s 4s;
}

.notification @-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

.notification @keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

.notification @-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 45px; opacity: 0;}
}

.notification @keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 45px; opacity: 0;}
}