.root {
  text-align: center;
  flex-direction: column;
  display: flex;
}

.header {
  font-weight: bold;
  font-size: 20px;
  color: #203152;
  background-color: #f5a623;
  padding: 20px;
  box-shadow: 0px 4px 4px #808888;
  flex-direction: row;
}

.body {
  display: flex;
  flex-direction: 'row';
  padding-top: 5px;
}

.viewLoading {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.icLogout {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 0;
  margin-right: 30px;
  cursor: pointer;
}

.icLogout:active {
  opacity: 0.5;
}

.icProfile {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 0;
  margin-right: 80px;
  cursor: pointer;
}

.icProfile:active {
  opacity: 0.5;
}

/* Dialog confirm */
.viewCoverScreen {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.titleDialogConfirmLogout {
  color: white;
  background-color: #f5a623;
  font-weight: bold;
  padding: 20px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 300px;
  font-size: 18px;
}

.viewWrapButtonDialogConfirmLogout {
  flex-direction: row;
  height: 100px;
  width: 300px;
  background-color: white;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.btnYes {
  width: 100px;
  font-weight: bold;
  margin-right: 20px;
  padding: 5px;
  background-color: #203152;
  border: 0px;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.btnYes:active {
  opacity: 0.5;
}

.btnYes:focus {
  outline: 0;
}

.btnNo {
  width: 100px;
  font-weight: bold;
  margin-left: 20px;
  padding: 5px;
  background-color: #dd4b39;
  border: 0px;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.btnNo:active {
  opacity: 0.5;
}

.btnNo:focus {
  outline: 0;
}

/* List user */
.viewListUser {
  overflow-y: scroll;
  max-height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  height:100%;
  width: 20%;
  position: fixed;
}

.viewListUser::-webkit-scrollbar-track {
  padding: 2px 0;
  background-color: #e8e8e8;
}

.viewListUser::-webkit-scrollbar {
  width: 6px;
}

.viewListUser::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #203152;
}

.viewWrapItem {
  border: none;
  display: flex;
  flex-direction: 'row';
  background-color: #ffffff;
  width: 330px;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.viewWrapItem:active {
  opacity: 0.5;
}

.viewWrapItem:focus {
  outline: 0;
}

.viewWrapItemFocused {
  border: none;
  display: flex;
  flex-direction: 'row';
  background-color: #e8e8e8;
  width: 330px;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.viewWrapItemFocused:active {
  opacity: 0.5;
}

.viewWrapItemFocused:focus {
  outline: 0;
}

.viewAvatarItem {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  object-fit: cover;
}

.viewWrapContentItem {
  flex-direction: column;
  display: flex;
  flex: 1;
  margin-left: 15px;
  color: #203152;
  word-wrap: break-word;
}

.textItem {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 240px;
  text-align: left;
  font-size: 14px;
}

#MessagesPage #sendMessage:hover {
	background-color: rgb(0, 165, 250);
}

#ShowMessages #chat-area{
	height: 84vh;
	overflow:auto;
}

#ShowMessages .message {
	border-radius: 10px;
	font-weight: 500;
	font-size: 1.2em;
	padding: 0.2em 0.8em 0.2em 0.8em;
	margin: 0.5em 5em 0.5em 5em;
}

#ShowMessages .message-sender {
	float: left;
	background-color: #DDDDDD;
	color: black;
	word-break: break-all;
	text-align: left;
}

#ShowMessages .message-self {
	float: right;
	background-color: #2579E4;
	color: white;
	word-break: break-all;
	text-align: right;
}
br.clearfloat { clear: both; } 
.viewBoard {
  display: flex;
  flex: 1;
  max-height: 100%;
  margin-left: 20%;
}
