#MessagesPage  #leftFrame {
	position: absolute;
	width: 15%;
	height: calc(90% + 22px);
	left: 0px;
	background-color: #454545;
	color: white;
}

#MessagesPage #messageFrame {
	position: absolute;
	width: 85%;
	max-height: 75%;
	overflow: auto;
	overflow-y: auto;
	right: 0px;
	display:flex;
	flex-flow:column;
	justify-content:space-around;
}

#MessagesPage .message-holder {
	position: relative;
	width: 100%;
	padding: 5px;
}

#MessagesPage  .message-user-icon {
	height: 40px;
	width: auto;
}

#MessagesPage .message-sender-icon {
	float: left;
}

#MessagesPage  .message-self-icon {
	float: right;
}

#MessagesPage .no-display {
	display: none;
}


#MessagesPage  #send-message {
	position: absolute;
	width: 85%;
	height: 15%;
	bottom: 0px;
	right: 0px;
	background-color: #DDDDDD;
	padding: 5px;
	display: none;
}
#MessagesPage #leftbar-name{
	text-align: center;
	background-color: #363636;
	padding-bottom: 0.2em;
	margin-bottom: 0;
}