#PictureBox #uploadLogo{
    color: white;
    width: 25px;
    height:25px;
}
#PictureBox #pmodal{
    color: black;
    margin-left: 50px;
}
#PictureBox .modal.fade.bd-example-modal{
    color:black;
    margin-left:50px; 
}
#PictureBox{
    margin-left: 50px;
}
#PictureBox .noImage{
    height: 10rem;
    width: 10rem;
    border: 2px solid black;
    text-align: center;
    font-size: 1.5em;
    line-height: 5em;
    border-radius: 5px;
}